<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/css/dashboard-style.css}"/>
    <title>Ollama</title>
</head>

<body>
    <div id="edit_box" class="box2">

        <div id="edit_title">
            <img src="/images/Ollama_pic.png" style="width:100px; height:auto;">
            <h1> Ollama AI</h1>
            <h4 th:text="'Model: ' + ${ollamaModel}"></h4>
        </div>
        <div class="loader" id="loading-dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="inp_field">
            <form th:action="@{/}" method="post" onsubmit="return showLoader()">
            <label for="input"></label>
                <br>
                <div id="chat" th:if="${messageList != null and !#lists.isEmpty(messageList)}">
                    <div th:each="msg : ${messageList}">
                        <span th:utext="${#strings.replace(#strings.replace(msg, 'Me:', '<strong>Me:</strong>'), 'Ollama:', '<strong>Ollama:</strong>')}"></span>
                    </div>
                </div>
                <div  >
                    <textarea
                            placeholder="Chat with Ollama..."
                            id="input"
                            name="input"
                            style="font-size: 18px; width: 93.5%; height: 65px; resize: none"
                            onkeydown="if(event.key === 'Enter'){ event.preventDefault(); showLoader(); this.form.submit(); }"></textarea>

                </div>

                <div id="button-pos">
                    <button id="ask-button" type="submit">Ask</button>
                </div>


            </form>
        </div>

    </div>

    <script>
        function showLoader() {
            document.getElementById("loading-dots").style.display = "flex";
            return true;
        }
    </script>

    <script>
        window.addEventListener('load', function() {
            document.getElementById('loading-dots').style.display = 'none';
        });
    </script>
</body>
</html>